{% extends 'index.html' %}    
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>  
{% block contents %}
<div class="text-center mx-5 my-5">
  <h2> Our Facilities</h2>
</div>

{% for facilities in facilities_obj %}
{% if forloop.counter|divisibleby:2 %}
<div class="row featurette mx-5 my-5">
  <div class="col-md-7">
    <h2 class="featurette-heading"> <a href="#">{{facilities.name}} </a>  <span class="text-muted">It’ll blow your mind.</span></h2>
    <p class="lead">{{facilities.desciption}}</p>
  </div>
  <div class="col-md-5">
    <img src="{{ facilities.image.url }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" width="500" height="500" alt="Cinque Terre">
  </div>
</div>
{% else %}
<!--line after-->
<hr class="featurette-divider">
<div class="row featurette mx-5 my-5">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading"> <a href="#">{{facilities.name}} </a> <span class="text-muted">See for yourself.</span></h2>
    <p class="lead">{{facilities.desciption}}</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="{{ facilities.image.url }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" width="500" height="500" alt="Cinque Terre">
  </div>
</div>
<hr class="featurette-divider">
<!---->
{% endif %}
{% endfor %}
  <!--END-->
  
{% endblock contents %}
</body>
</html>
